body {
  background-image: url("https://images.wallpaperscraft.ru/image/single/stol_ekrany_stul_1049560_2560x1600.jpg");
  background-repeat: no-repeat; /* Не повторять */
  background-size: cover; /* Растянуть на весь экран */
}